<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.velvol.o2o"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Data"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GuideActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.make.ParticularsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModificationPathActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.MyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.TaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.MyMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.ChangeInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.SendMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.SendCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.ChangeAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.OrderInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.login.ResetPswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.find.DataFootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.find.FoundMargeRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.find.FriendRoomNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.find.MargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.find.PrivilegeTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.find.PrivilegeTicketAssignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.find.ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.find.RoomNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.login.ForgetPswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.manager.UserFaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.velvol.o2o.ui.search.SearchClassActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

</manifest>