<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.velvol.o2o"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Data"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GuideActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ParticularsActivity"
            android:label="@string/title_activity_particulars"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".CaiPinXiangQingActivity"
            android:label="@string/title_activity_cai_pin_xiang_qing"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".CaipinActivity"
            android:label="@string/title_activity_caipin"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".SsssActivity"
            android:label="@string/title_activity_ssss"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".MerchantNameActivity"
            android:label="@string/title_activity_merchant_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".CateWelActivity"
            android:label="@string/title_activity_cate_wel"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".XiangqingActivity"
            android:label="@string/title_activity_xiangqing"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".ModificationPathActivity"
            android:label="@string/title_activity_modification_path"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".ClassifyActivity"
            android:label="@string/title_activity_classify"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".CombineActivity"
            android:label="@string/title_activity_combine"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.AboutActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.FeedbackActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.MyAddressActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.MyInfoActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.TaskActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.MyMsgActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.ChangeInfoActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.SendMsgActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.ChangeAddressActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.MyOrderActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.manager.OrderInfoActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.login.ResetPswActivity" >
        </activity>

        <activity android:name="com.velvol.o2o.ui.find.DataFootActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.find.FoundMargeRoomActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.find.FriendRoomNumberActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.find.MargeActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.find.PrivilegeTicketActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.find.PrivilegeTicketAssignActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.find.ReviewActivity" >
        </activity>
        <activity android:name="com.velvol.o2o.ui.find.RoomNumberActivity" >
        </activity>
        <activity
            android:name="com.velvol.o2o.ui.login.ForgetPswActivity"
            android:label="@string/title_activity_forget_psw"
            android:parentActivityName=".tool.BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.velvol.o2o.tool.BaseActivity" />
        </activity>
    </application>

</manifest>
